{
    "multimediaCacheInfos": [
        {
            "businessId": "quanzi"
        },
        {
            "businessId": "social_home_image"
        },
        {
            "businessId": "social_timeline_"
        },
        {
            "businessId": "social_pub_image"
        },
        {
            "businessId": "club"
        },
        {
            "businessId": "life"
        },
        {
             "businessId": "collapse"
        }

    ]
}