{
  hostList: [
    {
      host: 'mobilegw.alipay.com',
      reportSize: 18000,
      overflowSize: 20000,
      degradeSize: -1,
      reportRepeat: 1800,
      overflowRepeat: 2000,
      degradeRepeat: -1,
      chunkSizeThreshold: 100,
      chunkReportRepeat: 180,
      chunkOverflowRepeat: 200,
      chunkDegradeRepeat: -1
    },
    {
      host: 'mobilegwlong.alipay.com',
      reportSize: 4000,
      overflowSize: 6000,
      degradeSize: -1,
      reportRepeat: 150,
      overflowRepeat: 200,
      degradeRepeat: -1,
      chunkSizeThreshold: 100,
      chunkReportRepeat: 90,
      chunkOverflowRepeat: 100,
      chunkDegradeRepeat: -1
    },
    {
      host: 'mobilegwpre.alipay.com',
      reportSize: 4000,
      overflowSize: 6000,
      degradeSize: -1,
      reportRepeat: 150,
      overflowRepeat: 200,
      degradeRepeat: -1,
      chunkSizeThreshold: 100,
      chunkReportRepeat: 90,
      chunkOverflowRepeat: 100,
      chunkDegradeRepeat: -1
    },
    {
      host: 'mclient.alipay.com',
      reportSize: 4000,
      overflowSize: 6000,
      degradeSize: -1,
      reportRepeat: 100,
      overflowRepeat: 200,
      degradeRepeat: -1,
      chunkSizeThreshold: 100,
      chunkReportRepeat: 50,
      chunkOverflowRepeat: 60,
      chunkDegradeRepeat: -1
    },
    {
      host: 'mcgw.alipay.com',
      reportSize: 5000,
      overflowSize: 6000,
      degradeSize: -1,
      reportRepeat: 280,
      overflowRepeat: 300,
      degradeRepeat: -1,
      chunkSizeThreshold: 100,
      chunkReportRepeat: 100,
      chunkOverflowRepeat: 120,
      chunkDegradeRepeat: -1
    },
    {
      host: 'msp.alipay.com',
      reportSize: 4000,
      overflowSize: 6000,
      degradeSize: -1,
      reportRepeat: 110,
      overflowRepeat: 120,
      degradeRepeat: -1,
      chunkSizeThreshold: 100,
      chunkReportRepeat: 40,
      chunkOverflowRepeat: 50,
      chunkDegradeRepeat: -1
    },
    {
      host: '.amap.com',
      reportSize: 4000,
      overflowSize: 6000,
      degradeSize: -1,
      reportRepeat: 110,
      overflowRepeat: 120,
      degradeRepeat: -1,
      chunkSizeThreshold: 100,
      chunkReportRepeat: 40,
      chunkOverflowRepeat: 50,
      chunkDegradeRepeat: -1
    },
    {
      host: 'acjs.aliyun.com',
      reportSize: 5000,
      overflowSize: 6000,
      degradeSize: 10000,
      reportRepeat: 50,
      overflowRepeat: 60,
      degradeRepeat: 100,
      chunkSizeThreshold: -1,
      chunkReportRepeat: -1,
      chunkOverflowRepeat: -1,
      chunkDegradeRepeat: -1
    },
    {
      host: 'download.alipay.com',
      reportSize: 480000,
      overflowSize: 500000,
      degradeSize: 1500000,
      reportRepeat: 12,
      overflowRepeat: 16,
      degradeRepeat: 40,
      chunkSizeThreshold: 100,
      chunkReportRepeat: 6,
      chunkOverflowRepeat: 8,
      chunkDegradeRepeat: 20
    },
    {
      host: 'tfsimg.alipay.com',
      reportSize: 140000,
      overflowSize: 150000,
      degradeSize: 200000,
      reportRepeat: 12,
      overflowRepeat: 16,
      degradeRepeat: 40,
      chunkSizeThreshold: 100,
      chunkReportRepeat: 6,
      chunkOverflowRepeat: 8,
      chunkDegradeRepeat: 20
    },
    {
      host: 'django.t.taobao.com',
      reportSize: 480000,
      overflowSize: 500000,
      degradeSize: 2000000,
      reportRepeat: 12,
      overflowRepeat: 16,
      degradeRepeat: 40,
      chunkSizeThreshold: 100,
      chunkReportRepeat: 6,
      chunkOverflowRepeat: 8,
      chunkDegradeRepeat: 20
    },
    {
      host: '__host_nbnet__',
      reportSize: 480000,
      overflowSize: 500000,
      degradeSize: 2000000,
      reportRepeat: 12,
      overflowRepeat: 16,
      degradeRepeat: 40,
      chunkSizeThreshold: 100,
      chunkReportRepeat: 6,
      chunkOverflowRepeat: 8,
      chunkDegradeRepeat: 20
    },
    {
      host: '__host_push__',
      reportSize: -1,
      overflowSize: -1,
      degradeSize: -1,
      reportRepeat: -1,
      overflowRepeat: -1,
      degradeRepeat: -1,
      chunkSizeThreshold: -1,
      chunkReportRepeat: -1,
      chunkOverflowRepeat: -1,
      chunkDegradeRepeat: -1
    },
    {
      host: '__host_sync__',
      reportSize: -1,
      overflowSize: -1,
      degradeSize: -1,
      reportRepeat: -1,
      overflowRepeat: -1,
      degradeRepeat: -1,
      chunkSizeThreshold: -1,
      chunkReportRepeat: -1,
      chunkOverflowRepeat: -1,
      chunkDegradeRepeat: -1
    },
    {
      host: '.alipayobjects.com',
      reportSize: 480000,
      overflowSize: 500000,
      degradeSize: 2000000,
      reportRepeat: 12,
      overflowRepeat: 16,
      degradeRepeat: 40,
      chunkSizeThreshold: 100,
      chunkReportRepeat: 6,
      chunkOverflowRepeat: 8,
      chunkDegradeRepeat: 20
    },
    {
      host: '.taobaocdn.com',
      reportSize: 140000,
      overflowSize: 150000,
      degradeSize: 200000,
      reportRepeat: 12,
      overflowRepeat: 16,
      degradeRepeat: 40,
      chunkSizeThreshold: 100,
      chunkReportRepeat: 6,
      chunkOverflowRepeat: 8,
      chunkDegradeRepeat: 20
    },
    {
      host: '.alicdn.com',
      reportSize: 140000,
      overflowSize: 150000,
      degradeSize: 200000,
      reportRepeat: 12,
      overflowRepeat: 16,
      degradeRepeat: 40,
      chunkSizeThreshold: 100,
      chunkReportRepeat: 6,
      chunkOverflowRepeat: 8,
      chunkDegradeRepeat: 20
    },
    {
      host: '.ucweb.com',
      reportSize: 480000,
      overflowSize: 500000,
      degradeSize: -1,
      reportRepeat: 12,
      overflowRepeat: 16,
      degradeRepeat: -1,
      chunkSizeThreshold: 100,
      chunkReportRepeat: 6,
      chunkOverflowRepeat: 8,
      chunkDegradeRepeat: -1
    },
    {
      host: 'game.uc.cn',
      reportSize: 480000,
      overflowSize: 500000,
      degradeSize: 2000000,
      reportRepeat: 12,
      overflowRepeat: 16,
      degradeRepeat: 40,
      chunkSizeThreshold: 100,
      chunkReportRepeat: 6,
      chunkOverflowRepeat: 8,
      chunkDegradeRepeat: 20
    },
    {
      host: 'default',
      reportSize: 280000,
      overflowSize: 300000,
      degradeSize: -1,
      reportRepeat: 680,
      overflowRepeat: 700,
      degradeRepeat: -1,
      chunkSizeThreshold: 200,
      chunkReportRepeat: 6,
      chunkOverflowRepeat: 8,
      chunkDegradeRepeat: -1
    }
  ],
  urlList: [
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.client.switches.all.get.afterlogin',
      reportRepeat: 90,
      overflowRepeat: 100,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.client.switches.all.get.afterloginPb',
      reportRepeat: 90,
      overflowRepeat: 100,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.client.strategies.get.afterlogin',
      reportRepeat: 90,
      overflowRepeat: 100,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.client.reportActive',
      reportRepeat: 90,
      overflowRepeat: 100,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.client.reportActive.pb',
      reportRepeat: 90,
      overflowRepeat: 100,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobile.bill.deleteBillInfo',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: 2000
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.livetradeprod.soundWave.queryBuyerPayResult',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: 2000
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobile.aggrbillinfo.job.findTaskStatus',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: 2000
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mstockprod.quotation.query.quotation',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: 2000
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mstockprod.quotation.query.quote.list',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: 2000
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mstockprod.common.query.stockconfig',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: 2000
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mstockprod.trade.config',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: 2000
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobileprod.aapay.queryAAPayResult',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: 2000
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobileprod.aapay.queryAAPayState',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: 2000
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobile.chat.bpullchats',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobile.chat.pullchats',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobile.chat.share',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobile.chat.send',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobile.chat.mark',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.giftprod.biz.crowd.receiveQuery',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.giftprod.biz.crowd.crowdReceive',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.giftprod.biz.crowd.scratchReceiveQuery',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.giftprod.biz.crowd.scratchCrowdReceive',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.giftprod.mygift.query.receivelist',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.giftprod.mygift.query.sendlist',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.giftprod.mygift.query.beglist',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobilepromo.giftMessage.query.receivelist',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobilepromo.giftMessage.query.sendlist',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobilepromo.newCoupon.catchCat.getConfig',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobilepromo.newCoupon.catchCat.lottery',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobilepromo.newCoupon.query.detail',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobilepromo.coupon.apply.couponWithdraw',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobilecodec.beaconReport',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobile.relation.getProfile',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobilechat.group.query',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobilechat.sendMsg',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobile.relation.friendRequest',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mcomment.lifecircle.getLiveChatList',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: 2000
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobilechat.repInput',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: 2000
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mstockprod.information.stockinfos.query',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: 2000
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.msp.cashier.dispatch.pb',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: 2000
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobile.relation.checkAddingAbility',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobile.relation.getMultiFriends',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobileappcommon.hotpatchinfo',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobileappcommon.repairinfo',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.promocore.service.rpc.prizeRemain',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.promocore.service.rpc.prizePb',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#ali.user.gw.unifyLogin',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#ali.user.gw.unifyLogin.pb',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.user.login',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.user.login.pb',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.client.getRSAKey',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobilepromo.xiuyixiu.xiuPeople',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.promocore.service.rpc.shoopinit',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.promocore.service.rpc.shoopshoop',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.customer.face.upload.aliveandbehavlog',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'http://110\\.76\\.\\d+\\.\\d+/gateway\\.do',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm',
      reportRepeat: 1000,
      overflowRepeat: 1200,
      degradeRepeat: -1
    }
  ],
  uploadOverflowSize: 500000,
  downloadOverflowSize: 2000000,
  totalOverflowSize: 2200000
}